<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="main.css"> -->
    <title>TkmtLabGO</title>
  </head>
  <body>
    <div class="menu">
      <ul id="mainmenu">
        <li id="menu0">  <img src="assets/logo.png" height="70px"></li>
        <li id="menu1">
          <a href="../pokemons">
            <img src="assets/monbo.png" height="50px" width="50px">
          </a>
          <a href="../pokemons">図鑑</a>
        </li>
        <li id="menu2">
          <img src="assets/houou.png"height="60px">
          色違いマウント</li>
        <li id="menu3">
          <img src="assets/settei.png" height="50px">
          なんか</li>
      </ul>
      </div>

      <div class="center">
	    <h1>Raid</h1>
	       <div class="tbl-header">
		<table cellpadding="0" cellspacing="0" border="0">
		 <thead>
		  <tr>
		   <th>Pokemon</th>
		   <th>Place</th>
		   <th>Time</th>
		   <th>Edit</th>
       <th>Detail</th>
		  </tr>
	         </thead>
	        </table>
	       </div>

            <div class="tbl-content">
		    <!--ポケモン、場所、時間のレイド情報を受け取るよ -->
          	<table cellpadding="0" cellspacing="0" border="0">
		  <tbody>
              <% @raids.each do |raid| %>
            <tr>
                <% pokemon_id = raid.pokemon_id %>
                <% place_id = raid.place_id %>
		     <td><%= @pokemons[pokemon_id - 1]['name'] %></td>
		     <td><%= @places[place_id - 1]['name'] %></td>
		     <td><%= raid.date %></td>
             <td><%= link_to("編集", "raids/#{raid.id}/edit") %></td>
             <td><%= link_to("詳細", "raid/#{raid.id}/show") %></td>
		    </tr>
            <% end %>
		  </tbody>
	         </table>
	        </div>
    	   </div>

           <div class="right">

      <div class="rightdiv">
        <!-- ログインしている人 -->
        <img class="icon" src="assets/pikatyu.png"><%= @login_user.name_id %> オンライン
        <br><br>
        <!-- <a href="/logout" class="btn-square-pop">オフライン</a> -->
        <!-- <a href="#" class="btn-square-pop">オンライン</a> -->
        <%= form_for(:session, url: logout_path) do |f| %>
            <%= f.submit "ログアウト", :class=>"btn-square-pop" %>
        <% end %>
      </div>

      <div class="rightdiv">
        <h3>-オンライン-</h3>
        <ul id="online"><!-- オンラインの人一覧 -->
          <!-- 1ユーザーに対して<li>タグで画像とID名を表示する -->
          <% @users.each do |user| %>
          <% if user.is_login == 1 && user.id != @login_user.id %>
            <li> <img class="icon" src="assets/utsumi.jpg"><%= user.name_id %></li><br>
          <% end %>
          <% end %>
        </ul>
      </div>
      <div class="rightdiv">
        <h3>-オフライン-</h3>
        <ul id="ofline"><!-- オフラインの人一覧 -->
            <% @users.each do |user| %>
            <% if user.is_login == 0 %>
          <li> <img class="icon" src="assets/hirata.jpg"><%= user.name_id %></li><br>
          <% end %>
          <% end %>
        </ul>
      </div>

    </div>

<ul>

    <!-- <table border=”1″>
        <caption>ユーザー一覧(後で消します)</caption>
        <tr>
            <th>ID</th>
            <th>password</th>
            <th>ひとこと</th>
            <th>ログイン状況</th>
        </tr>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.name_id %></td>
                <td><%= user.password_digest %></td>
                <td><%= user.comment %></td>
                <%= form_for(:session, url: logout_path) do |f| %>
                    <td>
                        <% if user.is_login == 0 %>
                            <%= f.submit "ログイン" %>
                        <% else %>
                            <%= f.submit "ログアウト" %>
                        <% end %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </table> -->
</ul>
